# ============================================================
# SOURCE DATABASE
# ============================================================
SOURCE_DB_NAME=sncf_oltp
SOURCE_DB_USER=northwind_user
SOURCE_DB_PASSWORD=change-me
SOURCE_DB_PORT=5433


# ============================================================
# DATA WAREHOUSE
# ============================================================
DW_DB_NAME=sncf_dw
DW_DB_USER=dw_user
DW_DB_PASSWORD=change-me
DW_DB_PORT=5434


# ============================================================
# ETL
# ============================================================
ETL_CHUNK_SIZE=100000


# ============================================================
# AIRFLOW METADATA DATABASE
# ============================================================
AIRFLOW_DB_PASSWORD=airflow


# ============================================================
# AIRFLOW SECURITY
# ============================================================
AIRFLOW_FERNET_KEY=replace-with-a-valid-fernet-key
AIRFLOW_JWT_SECRET=replace-with-a-long-random-secret


# ============================================================
# AIRFLOW ADMIN USER
# ============================================================
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change-me
AIRFLOW_ADMIN_FIRSTNAME=Bilal
AIRFLOW_ADMIN_LASTNAME=Khallabi
AIRFLOW_ADMIN_EMAIL=admin@example.com