# Base source (SNCF operationnelle)
SOURCE_DB_NAME=sncf_oltp
SOURCE_DB_USER=northwind_user
SOURCE_DB_PASSWORD=changeme
SOURCE_DB_PORT=5433

# Data Warehouse
DW_DB_NAME=sncf_dw
DW_DB_USER=dw_user
DW_DB_PASSWORD=changeme
DW_DB_PORT=5434
